<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="libs/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/invoice.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
</head>

<body ng-controller="MainController">

    <div class="container">

        <div class="page-header">
            <h1>Sample Invoice Template</h1>
        </div>

        <!-- Simple Invoice - START -->
        <div class="container" ng-repeat="order in orders">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <img src="resource/images/ntl_logo.png" class="pull-left" id="logo"></img>
                        <h2>Invoice for purchase {{order.orderID}}</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                            <div class="panel panel-default height">
                                <div class="panel-heading">Billing Details</div>
                                <div class="panel-body">
                                    <strong>{{order.sender.fullName}}</strong><br>{{order.sender.address}}
                                    <br>
                                    <strong>{{order.sender.phone}}</strong><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-default height">
                                <div class="panel-heading">Payment Information</div>
                                <div class="panel-body">
                                    <strong>Card Name:</strong> Visa<br>
                                    <strong>Sent Date: </strong>{{order.sentDate}}<br>
                                    <strong>Received Date: </strong>{{order.sentDate}}<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
                            <div class="panel panel-default height">
                                <div class="panel-heading">Shipping Address</div>
                                <div class="panel-body">
                                    <strong>{{order.receiver.fullName}}</strong><br>{{order.receiver.address}}
                                    <br>
                                    <strong>{{order.receiver.phone}}</strong><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--Order Summary - Start -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed col-lg-12">
                                    <thead>
                                        <tr>
                                            <td><strong>Item Unit</strong></td>
                                            <td></td>
                                            <td class="text-center"><strong>Item Quantity</strong></td>
                                            <td class="text-right pull-right"><strong>Total</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="subProduct in order.product" class="align-center">
                                        <tr>
                                            <td>{{subProduct.unit}}</td>
                                            <td></td>
                                            <td class="text-center">{{subProduct.quantity}}</td>
                                            <td class="text-right">$900</td>
                                        </tr>

                                    </tbody>
                                    <tr>
                                        <td class="highrow"></td>
                                        <td class="highrow"></td>
                                        <td class="highrow text-center"><strong>Total</strong></td>
                                        <td class="highrow text-right">$958.00</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Order Summary - End -->

                    <!--Sample invoice signature - Start -->
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                            <div class="panel panel-default height">
                                <div class="panel-heading  text-center"><strong>Delivery's Signature</strong></div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                            <div class="panel panel-default height">
                                <div class="panel-heading text-center"><strong>Customer's Signature</strong></div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <!--Sample invoice signature - End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Simple Invoice - END -->
        <hr>
    </div>

</body>

</html>