<div class="modal-content">
    <div class="modal-header">
        <div class="text-center">
            <img src="resource/images/ntl_logo.png" class="pull-left" id="logo"></img>
            <h2>Details of Order {{orderDetails[index].orderID}}</h2>
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <!-- Customer Details -->
            <div class="row col-md-12">
                <div class="col-md-3 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background:red; color: white">Customer Details</div>
                        <div class="panel-body">
                            <strong>Name:</strong>
                            <p>{{orderDetails[index].sender.fullName}}</p>
                            <strong>Address:</strong>
                            <p>{{orderDetails[index].sender.address}}</p>
                            <strong>Phone:</strong>
                            <br>
                            <p>{{orderDetails[index].sender.phone}}</p><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background:red; color: white">Order Summary</div>
                        <div class="panel-body">
                            <strong>Quantity</strong><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Unit</strong>
                            <div class="text-right" ng-repeat="item in orderDetails[index].product">
                                <span class="col-xs-5 text-left">{{item.quantity | numberFixedLen: 2}} </span> <span class="col-xs-7 text-right"><strong>{{item.unit}}</strong></span>
                                <br>
                            </div>
                            <br>
                            <strong>Sent Date: </strong>
                            <p>{{orderDetails[index].sentDate}}</p>
                            <strong>Received Date</strong>
                            <p>{{orderDetails[index].receivedDate}}</p>
                            <strong>Status</strong>
                            <p>{{orderDetails[index].status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background:red; color: white">Payment Information</div>
                        <div class="panel-body">
                            <strong>Total: <br></strong>$980.00<br>
                            <strong>Payment Method:</strong> Visa<br>
                            <strong>Ordered Date: </strong>16/05/2017<br>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading" style="background:red; color: white">Shipping Details</div>
                        <div class="panel-body">
                            <strong>Name:</strong>
                            <p>{{orderDetails[index].receiver.fullName}}</p>
                            <strong>Address:</strong>
                            <p>{{orderDetails[index].receiver.address}}</p>
                            <strong>Phone:</strong>
                            <br>
                            <p>{{orderDetails[index].receiver.phone}}</p><br>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="Print()">PRINT</button>
        <button class="btn btn-warning" type="button" data-dismiss="modal" ng-click="Cancel()">CLOSE</button>
    </div>
</div>