<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title text-center bg-primary">VẬN ĐƠN</h2>
        <hr>
        <h4 class="modal-title text-left">PHẦN THÔNG TIN HÀNG HÓA</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <fieldset disabled>
                    <label class="control-label col-sm-3">Mã Đơn Hàng:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="data.firstName" id="locationName" placeholder=" Nguyen Van A" value="SG111025" readonly>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <div class="form-group col-md-6 pull-right">
                    <label class="control-label col-sm-4" style="right: 55px"><span class="require">* </span>Gửi Đến:</label>
                    
                   
                    <div class="col-sm-6" style="right: 78px">
                        <select class="form-control" >
                                <option value="" disabled selected>Chọn Nơi Đến</option>
                                
                                <option  ng-repeat="branch in createCtrl.receiverInfo.Branch" value="{{branch.Id}}">
                                            {{branch.Address}}
                                </option>
							</select>
                    </div>
                </div>
                <div class="form-group col-md-6 pull-right">
                    <label class="control-label col-sm-3" style="left: 60px"><span class="require">* </span>Gửi Từ:</label>
                    <div class="col-sm-6" style="left: 60px">
                        <select ng-model="Data.sendTo" class="form-control">
                                <option value="" disabled selected>Chọn Nơi Gửi</option>
								 <optgroup label="Sài Gòn">
                                    <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 3">Quận 3</option>
                                    <option value="Quận 5">Quận 5</option>
                                    <option value="Quận Tân Bình">Quận Tân Bình</option>
                                </optgroup>
								<option value="Nha Trang">Nha Trang</option>
								<option value="Cam Ranh">Cam Ranh</option>
								<option value="Khánh Hòa">Khánh Hòa</option>
								<option value="Ninh Hòa">Ninh Hòa</option>
							</select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3"><span class="require">* </span>Ngày Gửi:</label>
                <div class="col-sm-7">
                    <p class="input-group col-sm-4">
                        <input type="text" class="form-control" uib-datepicker-popup={{format}} ng-model="Data.startDate" ng-value="dateOptions.minDate" is-open="popUpStartDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="startDate()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3"><span class="require">* </span>Phương Thức Giao Nhận:</label>
                <div class="col-sm-7">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <input type="radio" name="optradio" /> Chuyển Phát Thường
                        </div>
                        <div class="col-sm-6">
                            <input type="radio" name="optradio" /> Chuyển Phát Nhanh
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <input type="radio" name="optradio" /> Chuyển Phát Tận Nơi
                        </div>
                        <div class="col-sm-6">
                            <input type="radio" name="optradio" /> Chuyển Phát Tận Nơi Gấp
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-12"><h3 class="text-center"><strong>Chi Tiết Đơn Vận</strong></h3></label>
                <div class="panel panel-default">
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="createCtrl.AddItem(products)"><span class="glyphicon glyphicon-plus-sign"></span><strong> THÊM</strong></button>
                        <button class="btn btn-danger" type="button " data-dismiss="modal " ng-click="createCtrl.RemoveItem()"><span class="glyphicon glyphicon-minus-sign "></span><strong> XÓA</strong></button>
                    </div>
                    <div class="panel-body col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">
                                            Bulk action
                                            <input type="checkbox" ng-model="createCtrl.selectedAll" ng-click="createCtrl.SelectAll()" />
                                        </th>
                                        <th><strong>Loại Hàng</strong></th>
                                        <th><strong>Khối Lượng</strong></th>
                                        <th><strong>Số Lượng</strong></th>
                                        <th><strong>De Vo</strong></th>
                                        <th><strong>Đảm Bảo</strong></th>
                                        <th><strong>Khai Giá</strong></th>
                                        <th><strong>Ghi Chú</strong></th>
                                        <th><strong>Thành Tiền</strong></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="product in createCtrl.products">
                                    <tr>
                                        <td class="col-md-1">
                                            <input type="checkbox" ng-model="product.selected" />
                                        </td>
                                        <td class="input-group">
                                            <input type="text" class="form-control" ng-model="product.quantity" id="locationName">
                                            <span class="input-group-addon">{{createCtrl.selected[$index].CalculationUnit}}</span>
                                            <span class="input-group-addon">{{createCtrl.selected[$index].Value}}</span>
                                        </td>
                                         <td class="col-md-1">
                                    <select ng-model="createCtrl.selected[$index]" ng-options="item.MerchandiseType1  group by item.Description for item  in createCtrl.receiverInfo.Type" name="sendTo " class="form-control">
                                                        <option>--</option>
                                            </select>
          
                                        </td>
                                         <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="product.quantity" id="locationName">
                                        </td>
                                        <td class="col-md-1">
                                            <input type="checkbox" ng-model="product.selected" />
                                        </td>
                                       <td class="col-md-1">
                                            <input type="checkbox" ng-model="product.selected" />
                                        </td>
                                         <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="product.description" id="locationName" placeholder="Khai giá (Nếu có)">
                                        </td>
                                      <td class="col-md-1">
                                            <input type="text" class="form-control" ng-model="product.description" id="locationName" placeholder="Thêm ghi chú">
                                        </td>
                                        <td class="col-md-1">{{createCtrl.selected[$index].Value * 5  | currency : " VND": 0}}</td>
                                    </tr>

                                </tbody>
                                <tr class="col-md-12">
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-center col-md-3"><strong>Tổng Cộng:</strong></td>
                                    <td class="highrow text-right col-md-3">$958.00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="createCtrl.Previous()"><span class="glyphicon glyphicon-chevron-left"></span><strong> QUAY VỀ</strong></button>
        <button class="btn btn-success" type="button" data-dismiss="modal" ng-click="createCtrl.Confirm()"><span class="glyphicon glyphicon-ok"></span><strong> XÁC NHẬN</strong></button>
        <button class="btn btn-danger" type="button" data-dismiss="modal" ng-click="createCtrl.Cancel()"><span class="glyphicon glyphicon-remove"></span><strong> HỦY</strong></button>
    </div>
</div>
