<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title text-center bg-primary">VẬN ĐƠN</h2>
        <hr>
        <div uib-alert class="alert alert-danger" close="closeAlert()" ng-if="show" dismiss-on-timeout="5000" role="alert">
            <strong>Chú ý!</strong> Các thông tin không được bỏ trống
        </div>
        <h4 class="modal-title text-left">PHẦN THÔNG TIN NGƯỜI NHẬN</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3" for="locationName"><span class="require">* </span>Họ Tên:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="senderCtrl.sender.fullName" placeholder=" Nguyen Van B">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="locationName"><span class="require">* </span>Địa chỉ:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="senderCtrl.sender.address" placeholder="123 ABC St, Ward 4, District 4">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="locationName"><span class="require">* </span>Số Điện Thoại:</label>
                <div class="col-sm-7">
                    <input type="text" only-digits class="form-control" ng-model="senderCtrl.sender.phone" placeholder="0912345678">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="senderCtrl.Previous()"><span class="glyphicon glyphicon-chevron-left"></span> QUAY VỀ</button>
        <button class="btn btn-success" type="button" data-dismiss="modal" ng-click="senderCtrl.MoveToThirdModal()">TIẾP THEO <span class="glyphicon glyphicon-chevron-right"></span></button>
        <button class="btn btn-danger" type="button" data-dismiss="modal" ng-click="senderCtrl.Cancel()"><span class="glyphicon glyphicon-remove"></span> HỦY</button>
    </div>
</div>