<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="TẠO MỚI ĐƠN VẬN" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Thông Tin Khách Hàng" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Người Gửi</h2>
                                    <div class="form-group has-feedback">
                                        <label for="exampleUsername1">Họ Tên</label>
                                        <input type="text" class="form-control" id="exampleUsername1" name="username" placeholder="Username" ng-model="vm.personalInfo.username">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số Điện Thoại</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" ng-model="vm.personalInfo.email">
                                        <span class="help-block error-block basic-block">Proper email required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h2>Người Nhận</h2>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Họ Tên</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" ng-model="vm.personalInfo.password">
                                        <span class="help-block error-block basic-block">Required</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputConfirmPassword1">Số Điện Thoại</label>
                                        <input type="password" class="form-control" id="exampleInputConfirmPassword1" name="confirmPassword" placeholder="Confirm Password" ng-model="vm.personalInfo.confirmPassword">
                                        <span class="help-block error-block basic-block">Passwords should match</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <ba-wizard-step title="Thông Tin Đơn Hàng" form="vm.addressForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="  form-group">
                                        <fieldset>
                                            <label class="control-label col-md-12">Mã Đơn Hàng:</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" ng-value="vm.Id()" id="locationName" readonly>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="  form-group">
                                        <fieldset>
                                            <label class="control-label col-md-6"><span class="require">* </span>Gửi Từ:</label>
                                            <label class="control-label col-md-6"><span class="require">* </span>Gửi Đến:</label>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                <option value="" disabled selected>Chọn Nơi Gửi</option>                                                
                                                <option  ng-repeat="branch in createCtrl.receiverInfo.Branch" value="{{branch.Id}}">
                                                            {{branch.Address}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                <option value="" disabled selected>Chọn Nơi Gửi</option>                                                
                                                <option  ng-repeat="branch in createCtrl.receiverInfo.Branch" value="{{branch.Id}}">
                                                            {{branch.Address}}
                                                </option>
                                            </select>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <label class="control-label col-md-12"><span class="require">* </span>Ngày Gửi:</label>
                                            <div class="col-md-5">
                                                <p class="input-group ">
                                                    <input type="text" class="form-control" uib-datepicker-popup={{createCtrl.format}} ng-model="createCtrl.startDate" ng-value="createCtrl.dateOptions.minDate |  date:'dd/MM/yyyy'" is-open="createCtrl.popUpDate.opened" datepicker-options="createCtrl.dateOptions"
                                                        close-text="Close" />
                                                    <span class="input-group-btn">
			                                        <button class="btn btn-default" ng-click="createCtrl.PickDate()"><i class="glyphicon glyphicon-calendar"></i></button>
		                                     </span>
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <label class="control-label col-md-3"><span class="require">* </span>Phương Thức Giao Nhận:</label>
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <input type="radio" name="optradio" /> Chuyển Phát Thường
                                                    </div>
                                                    <div class="col-md-6  ">
                                                        <input type="radio" name="optradio" /> Chuyển Phát Nhanh
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-6  ">
                                                        <input type="radio" name="optradio" /> Chuyển Phát Tận Nơi
                                                    </div>
                                                    <div class="col-md-6  ">
                                                        <input type="radio" name="optradio" /> Chuyển Phát Tận Nơi Gấp
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <label class="control-label col-md-3">Phụ Phí/Bảo Hiểm:</label>
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <input type="checkbox" name="optradio" ng-model='createCtrl.guarantee' ng-change="createCtrl.SelectGuarantee(createCtrl.guarantee)" ng-init="createCtrl.guarantee = false" ng-true-value="'true'" ng-false-value="'false'" />                                                        Hàng Đảm Bảo
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <fieldset></fieldset>
                                <fieldset></fieldset>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <fieldset>
                                            <div class="col-sm-12" ng-show="createCtrl.animation.show == 'true'">
                                                <label class="control-label   ">Nhập CMND Người Nhận:</label>
                                                <div class="  ">
                                                    <input type="input" placeholder="Số chứng minh nhân dân" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>

                    <ba-wizard-step title="Thông Tin Hàng Hóa" form="vm.productInfoForm">
                        <div class="widgets">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
                                        <div include-with-scope="app/pages/tables/widgets/smartTable.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ba-wizard-step>

                    <ba-wizard-step title="Hoàn Tất" form="vm.productInfoForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <img NG-src="assets/img/ntl_logo.png" class="pull-left" id="logo"></img>
                                                <h2>XÁC NHẬN CHO ĐƠN HÀNG SỐ {{order.orderID}}</h2>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">Thông Tin Khách Hàng</div>
                                                        <div class="panel-body">
                                                            <strong>{{order.sender.fullName}}</strong><br>{{order.sender.address}}
                                                            <br>
                                                            <strong>{{order.sender.phone}}</strong><br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">Payment Information</div>
                                                        <div class="panel-body">
                                                            <strong>Card Name:</strong> Visa<br>
                                                            <strong>Ngày Gửi: </strong>{{order.sentDate}}<br>
                                                            <strong>Ngày Nhận: </strong>{{order.sentDate}}<br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading">Địa Chỉ Giao</div>
                                                        <div class="panel-body">
                                                            <strong>{{order.receiver.fullName}}</strong><br>{{order.receiver.address}}
                                                            <br>
                                                            <strong>{{order.receiver.phone}}</strong><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Order Summary - Start -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="text-center"><strong>Chi Tiết Đơn Vận</strong></h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed col-lg-12">
                                                            <thead>
                                                                <tr>
                                                                    <td><strong>Item Unit</strong></td>
                                                                    <td></td>
                                                                    <td class="text-center"><strong>Item Quantity</strong></td>
                                                                    <td class="text-right pull-right"><strong>Thành Tiền</strong></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-repeat="subProduct in order.product" class="align-center">
                                                                <tr>
                                                                    <td>{{subProduct.unit}}</td>
                                                                    <td></td>
                                                                    <td class="text-center">{{subProduct.quantity}}</td>
                                                                    <td class="text-right">$900</td>
                                                                </tr>

                                                            </tbody>
                                                            <tr>
                                                                <td class="highrow"></td>
                                                                <td class="highrow"></td>
                                                                <td class="highrow text-center"><strong>Tổng Tiền</strong></td>
                                                                <td class="highrow text-right">$958.00</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Order Summary - End -->

                                            <!--Sample invoice signature - Start -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading text-center"><strong>Chữ Ký Người Nhân Viên</strong></div>
                                                        <div class="panel-body" style="height: 200px">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                                                    <div class=" panel panel-default height">
                                                        <div class="panel-heading text-center"><strong>Chữ Ký Khách Hàng</strong></div>
                                                        <div class="panel-body" style="height: 200px">

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Sample invoice signature - End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Simple Invoice - END -->
                            </div>
                        </div>
            </div>
            </ba-wizard-step>

            </ba-wizard>
        </div>
    </div>
</div>

</div>